@using DemoLibrary2.Models
@model TeleportViewModel

@{
    ViewData["Title"] = "AfricaTable";
}

<h2>City Summaries</h2>

<div class="row">
    <div class="col-md-12"></div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>City</th>
                <th>Score</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Tunis?.name</td>
                <td>@((int)Model.TunisScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.TunisScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.CapeTown?.name</td>
                <td>@((int)@Model.CapeTownScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.CapeTownScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.Cairo?.name</td>
                <td>@((int)@Model.CairoScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.CairoScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.Johannesburg?.name</td>
                <td>@((int)@Model.JohannesburgScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.JohannesburgScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.Nairobi?.name</td>
                <td>@((int)@Model.NairobiScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.NairobiScore.summary)</td>
            </tr>
        </tbody>
    </table>
</div>
