@using DemoLibrary2.Models
@model TeleportViewModel

@{
    ViewData["Title"] = "AsiaTable";
}

<h2>City Summaries</h2>

<div class="row">
    <div class="col-md-12"></div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>City</th>
                <th>Score</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Singapore?.name</td>
                <td>@((int)Model.SingaporeScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.SingaporeScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.Tokyo?.name</td>
                <td>@((int)@Model.TokyoScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.TokyoScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.Seoul?.name</td>
                <td>@((int)@Model.SeoulScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.SeoulScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.Osaka?.name</td>
                <td>@((int)@Model.OsakaScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.OsakaScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.HongKong?.name</td>
                <td>@((int)@Model.HongKongScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.HongKongScore.summary)</td>
            </tr>
        </tbody>
    </table>
</div>
