@using DemoLibrary2.Models
@model TeleportViewModel

@{
    ViewData["Title"] = "EuropeTable";
}

<h2>City Summaries</h2>

<div class="row">
    <div class="col-md-12"></div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>City</th>
                <th>Score</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var city in @Model.Cities)
                {
                    <tr>
                        <td>@city.name</td>
                        <td>@((int)Model.Scores.teleport_city_score)</td>
                            <td>@Html.Raw(@Model.Scores.summary)</td>
                    </tr>
                }*@
            @*<tr>
                    <td>@Model.Boston.name</td>
                    <td>@((int)Model.BostonScore.teleport_city_score)</td>
                    <td>@Html.Raw(@Model.BostonScore.summary)</td>
                </tr>
                <tr>
                    <td>@Model.LasVegas.name</td>
                    <td>@((int)@Model.LasVegasScore.teleport_city_score)</td>
                    <td>@Html.Raw(@Model.LasVegasScore.summary)</td>
                </tr>
                <tr>
                    <td>@Model.NewYork.name</td>
                    <td>@((int)@Model.NewYorkScore.teleport_city_score)</td>
                    <td>@Html.Raw(@Model.NewYorkScore.summary)</td>
                </tr>
                <tr>
                    <td>@Model.WashingtonDC.name</td>
                    <td>@((int)@Model.WashingtonDCScore.teleport_city_score)</td>
                    <td>@Html.Raw(@Model.WashingtonDCScore.summary)</td>
                </tr>
                <tr>
                    <td>@Model.Miami.name</td>
                    <td>@((int)@Model.MiamiScore.teleport_city_score)</td>
                    <td>@Html.Raw(@Model.MiamiScore.summary)</td>
                </tr>*@
        </tbody>
    </table>
</div>
