@using DemoLibrary2.Models
@model TeleportViewModel

@{
    ViewData["Title"] = "EuropeTable";
}

<h2>City Summaries</h2>

<div class="row">
    <div class="col-md-12"></div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>City</th>
                <th>Score</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
       <tr>
            <td>@Model.Munich?.name</td>
            <td>@((int)Model.MunichScore.teleport_city_score)</td>
            <td>@Html.Raw(@Model.MunichScore.summary)</td>
        </tr>
        <tr>
            <td>@Model.Berlin?.name</td>
            <td>@((int)@Model.BerlinScore.teleport_city_score)</td>
            <td>@Html.Raw(@Model.BerlinScore.summary)</td>
        </tr>
        <tr>
            <td>@Model.Amsterdam?.name</td>
            <td>@((int)@Model.AmsterdamScore.teleport_city_score)</td>
            <td>@Html.Raw(@Model.AmsterdamScore.summary)</td>
        </tr>
        <tr>
            <td>@Model.London?.name</td>
            <td>@((int)@Model.LondonScore.teleport_city_score)</td>
            <td>@Html.Raw(@Model.LondonScore.summary)</td>
        </tr>
        <tr>
            <td>@Model.Copenhagen?.name</td>
            <td>@((int)@Model.CopenhagenScore.teleport_city_score)</td>
            <td>@Html.Raw(@Model.CopenhagenScore.summary)</td>
        </tr>
        </tbody>
    </table>
</div>
