@using DemoLibrary2.Models
@model TeleportViewModel

@{
    ViewData["Title"] = "SouthAmericaTable";
}

<h2>City Summaries</h2>

<div class="row">
    <div class="col-md-12"></div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>City</th>
                <th>Score</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Santiago?.name</td>
                <td>@((int)@Model.SantiagoScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.SantiagoScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.Bogota?.name</td>
                <td>@((int)Model.BogotaScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.BogotaScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.Medellin?.name</td>
                <td>@((int)@Model.MedellinScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.MedellinScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.Montevideo?.name</td>
                <td>@((int)@Model.MontevideoScore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.MontevideoScore.summary)</td>
            </tr>
            <tr>
                <td>@Model.BuenosAires?.name</td>
                <td>@((int)@Model.BuenosAirescore.teleport_city_score)</td>
                <td>@Html.Raw(@Model.BuenosAirescore.summary)</td>
            </tr>
        </tbody>
    </table>
</div>
